<h1 class="text-center my-4">Authors-App Users</h1>

<div id="authors" class="text-center mx-auto w-75">
  <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">Books read</th>
              <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
              <tr>
                <td><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td><%= user.email %></td>
                <%
                  books_count = 0
                  user.authors.each { |a|
                    books_count += a.books.length
                  }
                %>
                <td><%= books_count %></td>
                <td><%= link_to "Show", user %></td>
              </tr>
          <% end %>
        </tbody>
  </table>
    <%= page_entries_info @users %>
    <%= paginate @users %>
<!--  <div class="d-flex justify-content-start">-->
    <%#= link_to "New author", new_author_path, class:"btn btn-primary" %>
<!--  </div>-->
</div>