<div class="p-5 mb-4 text-light rounded-3 text-start">
  <div class="container-fluid py-5">
    <h1 class="display-5 fw-bold"><%= book.title %></h1>
    <p class="card-text">
      <strong>ISBN:</strong>
      <%= book.isbn %>
    </p>
    <p class="card-text">
      <strong>Author:</strong>
      <%= link_to "#{book.author.first_name} #{book.author.last_name}", book.author %>
    </p>

    <% if book.notes %>
      <hr>
      <p class="card-text">
        <strong>My thoughts</strong>
        <br>
        <%= "#{book.notes}" %>
      </p>
    <% end %>

    <div class="d-flex justify-content-center">
      <%= link_to "Edit", edit_book_path(@book), class:"btn btn-outline-light me-3" %>
      <%= link_to "Back to books", books_path, class:"btn btn-outline-primary me-3" %>
      <%= button_to "Delete", @book, method: :delete, form: { data: { turbo_confirm: "Are you sure?" } }, class:"btn btn-outline-danger me-3" %>
    </div>
  </div>
</div>
